html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.nav-image {
    flex: 4;
}

.lien-accueil {
    color: rgba(9,9,121,1)!important;
    margin: 5px;
    padding: 10px 15px!important;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}

.lien-accueil:hover {
    background: linear-gradient(45deg, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: whitesmoke!important;
    margin: 5px;
    padding: 10px 10px;
    border-radius: 10px;
}

.d-flex{
    display: flex;
}

.flex1 {
    flex: 1.5;
}

.flex2 {
    flex: 1;
}

.accueil {
    color: black;
}

.img-panier {
    width: 20px;
    margin: 5px 10px;
}

.box-quantite {
    position: relative;
}

.panier-quantite {
    width: 28px;
    cursor: pointer;    
    display: block;
}

.chiffre-quantite {
    background-color: mediumturquoise;
    border-radius: 8px;
    font-size: 12px;
    width: 20px;
    text-align: center;
    font-weight: bold;
    top: 0px;
    right: 0px;
    position: absolute;
}

h3 {
    height: 100px;
}

.fixed-top {
    box-shadow: 1px 1px 6px #555;
}

.gradient {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.page-header {
    margin-top: 6.5rem;
    font-size: 1rem;
    /* font-family: 'Recursive', sans-serif; */
}

.color-light {
    color: whitesmoke;
}

.main-meuble {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

#element-meuble {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    background-color: whitesmoke;
    margin:0 auto;
}

.card {
    width: 50%;
    background-color: whitesmoke;
    color:rgb(24, 19, 114);
}

.card-title2 {
    font-size: 2rem;
    height: 80%;
}

.card-body--descriptif {
    display:flex; 
    flex-direction: column;
}

.descriptif {
    display:flex; 
    flex-direction: column;
}

.label-article {
    padding: 20px 0; 
    font-weight:bold; 
    color: rgb(24, 19, 114);
}

.choix-dimension {
    display:flex; 
    flex-direction: column;
}

.btn-validation {
    margin: 50px 0;
}

.boutons-page {
    display: flex;
    justify-content: space-around;
}

.page {
    margin: 20px 0;
}

.gauche {
    text-align: left;
    margin-right: 20px;
}

.droite {
    text-align: right;
    margin-left: 20px;
}

.presentation-produit {
    width: 20%;
}   

.image-dimension {
    width: 18%;
    background-color: whitesmoke;
}

.dimension-icone{
    height: 15px;
}

.caracteristique-dimension {
    width: 50%;
    background: linear-gradient(45deg, rgb(24, 19, 114) 35%, rgba(9,9,121,1) 100%);
    color: whitesmoke;
    padding: 50px 10px;
}

.choix-dimension {
    width: 100%;
    display: flex;
    
}

.description {
    padding: 50px 10px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
}

.card-body {
    text-align: center;
}


.heightImg-p1 {
    height: 300px;
}

.heightImg-p2 {
    height: 300px;
    width: 55%;
}

.prix {
    font-size: 2rem;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

.btn-gradient {
    color: whitesmoke!important;
    background-image: linear-gradient(rgb(102, 51, 0), rgb(153, 102, 0));
}

.btn-gradient:hover {
    font-weight: 500;
    background-image: linear-gradient(90deg,rgb(102, 51, 0), rgb(153, 102, 0));
}

.table {
    min-height : 100px;
}

.tableau {
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    cursor: pointer;
    margin: 40px auto;
    border: 1px solid gray;
    box-shadow: 1px 1px 6px #555;
}

thead tr {
    background-color: rgb(24, 19, 114);
    color: whitesmoke;
}

th, td {
    padding: 15px 20px;
}

tbody tr, td, th {
    border: 1px solid lightgray;
}  

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.red {
    color: red;
}

tbody#tbody-total {
    background-color: lightblue;
}

.gras {
    font-weight: bold;
}

.newButton {
    border-radius : 15px;
}

.chevron {
    height: 18px;
    background-color: whitesmoke;
    padding: 2px;
    margin: 5px;
    border-radius: 3px;
}

.allerFormulaire, .allerPageAccueil {
    visibility: hidden;
    border-radius: 10px;
    background-color: #20ac6b
}

.container-formulaire, #supprimer-panier {
    visibility: hidden;
}

.supprimer-panier {
    border: solid 1px black;
    border-radius: 10px;
}

.refus {
    color: rgb(0, 204, 102);
}

.bouton-dim {
    height: 50px;
    width: 500px;
    margin: 5px 0;
}

.panier-vide {
    text-align: center;
}

.para-confirm{
    padding: 50px;
}

footer {
    color: whitesmoke;
    margin: 0;
    font-size: 1rem;
    padding: 1rem;
}

@media (min-width: 360px) and (max-width: 780px){
    html, body {
        font-size: .85rem;
    }

    .img-first {
        height: 200px;
    }

    .d-flex{
        flex-direction: column;
        padding: 25px;
    }
    .flex2 {
        flex: 1;
        padding-top: 40px;
    }

    .form-group {
        margin: 0 70px;
    }

    .form-group:nth-child(1) {
        margin-top: 20px;
    }
}


@media (max-width: 360px){
    html, body {
        font-size: .80rem;
    }

    .img-first {
        height: 150px;
    }

    .d-flex{
        flex-direction: column;
        padding: 10px;
    }
    .flex2 {
        flex: 1;
        padding-top: 20px;
    }

    .form-group {
        margin: 0 5px;
    }

    .form-group:nth-child(1) {
        margin-top: 10px;
    }
}